snippet namespace "wrap in namespace" b
namespace ${1}
{
	${0:${VISUAL}}
}
endsnippet

snippet xmlsummary "xml summary documentation" b
/// <summary>
/// ${0}
/// </summary>
endsnippet

snippet xmlsummaryinl "xml summary documentation, inline" b
/// <summary>${0}</summary>
endsnippet
